body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 2px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.jumbotron {
  padding: 22px 10px 10px 10px;
}

#last_pic img {
  width: 250px;
  height: 316px;
}

@media (min-width: 768px) {
  #last_pic img {
    width: 500px;
    height: 632px;
  }
}
